@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Opsional: Konfigurasi tema variabel di v4 (jika perlu custom warna) */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Base Styles */
body {
  /* Gunakan apply untuk style dasar */
  @apply bg-gray-50 text-gray-900 transition-colors duration-300;
}

/* Saat class .dark aktif di HTML (dari next-themes), ubah style body */
:root:has(.dark) body {
  @apply bg-gray-900 text-white;
}